* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background: #0f0f0f;
  color: #f5f5f5;

}

.hero {
  position: relative;
  min-height: 85vh;
  display: flex;
  align-items: center;
  background-image: url("../assets/images/layout/9c440aac-ac5b-40a6-a1cd-2cbe313fbffe-md.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 35%;
  padding: clamp(120px, 10vw, 180px) 0;
}


.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, .55);
}

.container {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
  max-width: 1200px;
  margin-left: auto;
  padding: 0 2px;
  z-index: 2;
}

.hero-left {
  flex: 1;
  max-width: 640px;
  color: #faf9f6;
  font-family: "Spectral", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
}

.hero-left h1 {
  font-size: 1.8rem;
}

.hero-left h1 span {
  color: #c9a24d;
  font-family: "Spectral", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 1.6rem;
}

.hero-left ul {
  margin-top: 20px;
  list-style: none;
   font-size: 1.0rem;
}

.hero-left li {
  margin-bottom: 10px;
  color: #fff;
  
}

.hero-left li .li-span {
  color: green;
 
}

.hero-form {
  max-width: 100%;
  position: relative;
  background: #1a1a1a;
  padding: 32px;
  border-radius: 12px;
  width: 320px;
  z-index: 1;


}

.hero-form:hover::before,
.hero-form:focus-within::before {
  filter: blur(10px);
  opacity: 1;
}

/* ✨ Brilho percorrendo o topo */
.hero-form::after {
  content: "";
  position: absolute;
  top: 0;
  left: -40%;
  width: 40%;
  height: 3px;
  /* espessura do brilho */
  background: linear-gradient(100deg,
      transparent,
      rgba(255, 240, 180, 0.9),
      rgba(255, 215, 100, 1),
      rgba(255, 240, 180, 0.9),
      transparent);
  border-radius: 3px;
  filter: blur(2px);
  animation: topSweep 5.5s ease-in-out infinite;
  pointer-events: none;
}

@keyframes topSweep {
  0% {
    left: 0%;
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  50% {
    left: 30%;
    opacity: 1;
  }

  100% {
    left: 60%;
    opacity: 0;
  }
}


.hero-form h3 {
  margin-bottom: 15px;
  color: #c9a24d;
  text-align: center;
}

.hero-form label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}


.hero-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: none;
  background-color: black;
}

.hero-form .radio-group {
  display: flex;
  gap: 50px;
}


.hero-form input[type="radio"] {
  margin: 0;
}

.hero-form button {
  width: 100%;
  padding: 12px;
  background: #4CAF50;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.small-text-form {
  text-align: center;
}

.benefits {
  padding: 60px 20px;
  text-align: center;
}

.benefits-container {
  display: flex;
  gap: 40px;
  max-width: 1200px;
  margin: auto;
  align-items: center;
}

.benefits-image img {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 380px;
  border-radius: 16px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, .6);
}

.image-frame {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  /* trava blur */
  isolation: isolate;
  /* isola do hero */
  max-width: 380px;
}

.image-frame img {
  display: block;
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
  position: relative;
  z-index: 1;
  isolation: isolate;
}

.image-frame::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 2px;
  background: linear-gradient(135deg,
      rgba(212, 175, 55, 0.9),
      rgba(255, 223, 150, 0.9),
      rgba(212, 175, 55, 0.9));

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  filter: blur(4px);
  opacity: 0.85;
  pointer-events: none;
  z-index: 3;
}



/* ✨ Brilho percorrendo o topo */
.image-frame::after {
  content: "";
  position: absolute;
  top: 0;
  left: -40%;
  width: 40%;
  height: 4px;
  /* espessura do brilho */
  background: linear-gradient(100deg,
      transparent,
      rgba(255, 240, 180, 0.9),
      rgba(255, 215, 100, 1),
      rgba(255, 240, 180, 0.9),
      transparent);
  border-radius: 13px;
  filter: blur(1px);
  animation: topSweep 10.5s ease-in-out infinite;
  pointer-events: none;
  z-index: 4;
}



.benefits-content {
  flex: 1;
  text-align: left;
}

.benefits-content h2 {
  margin-bottom: 30px;
  color: #c9a24d;
  text-align: center;
}


.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.card {
  position: relative;
  background: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  z-index: 1;
  isolation: isolate;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 2px;
  background: linear-gradient(135deg,
      rgba(212, 175, 55, 0.9),
      rgba(255, 223, 150, 0.9),
      rgba(212, 175, 55, 0.9));

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  filter: blur(4px);
  opacity: 0.85;
  pointer-events: none;
}



.card h4 {
  color: #c9a24d;
}

.consultora {

  padding: 60px 20px;

}

.consultora-box {
  position: relative;
  background: #1a1a1a;
  display: flex;
  gap: 20px;
  padding: 30px;
  border-radius: 12px;
  max-width: 800px;
  margin: auto;
  align-items: center;
  z-index: 1;
  isolation: isolate;
  overflow: hidden;
  border-radius: 16px;
}


/* Borda dourada */
.consultora-box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 2px;
  background: linear-gradient(135deg,
      rgba(212, 175, 55, 0.9),
      rgba(255, 223, 150, 0.9),
      rgba(212, 175, 55, 0.9));

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  filter: blur(4px);
  opacity: 0.85;
  pointer-events: none;
}

.consultora img {
  width: 140px;
  border-radius: 10px;
}

/* ✨ Brilho percorrendo o topo */
.consultora-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: -40%;
  width: 40%;
  height: 4px;
  /* espessura do brilho */
  background: linear-gradient(100deg,
      transparent,
      rgba(255, 240, 180, 0.9),
      rgba(255, 215, 100, 1),
      rgba(255, 240, 180, 0.9),
      transparent);
  border-radius: 13px;
  filter: blur(1px);
  animation: topSweep 5.5s ease-in-out infinite;
  pointer-events: none;
  z-index: 4;
}

.whatsapp {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 16px;
  background: #4CAF50;
  color: white;
  border-radius: 6px;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 20px;
  color: #aaa;
}


/*media Query */
/* ===== RESPONSIVIDADE ===== */

/* Tablets */
@media (max-width: 1024px) {
  .container {
    gap: 24px;
  }

  .hero-left {
    max-width: 100%;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .hero {
    padding: 120px 0;
  }

  .container {
    flex-direction: column;
    align-items: stretch;
  }

  .hero-left {
    text-align: center;
  }

  .hero-left ul {
    display: inline-block;
    text-align: left;
    font-size: 1.0rem;
  }

  .hero-form {
    width: 100%;
    max-width: 420px;
    margin: 40px auto 0;
  }
}